Day 3

In [ ]:
#Kewword Arguments(**kwargs), one will be key and other will be the data just like dictionary
import pandas as pd
def student_records(**kwargs):
    #keys=list(kwargs) #Type Casting will provide us the keys of the dictionary
    
    try:
        result=pd.DataFrame(kwargs)
        return result
    except:
        result=pd.DataFrame(kwargs, index=[1])
        return result

data1=student_records(Name=["Farhan","Abhinav",'Tejashvi'],
Age=[19,20,21],Roll_No=[17,11,1],
Course=["BCA","BCA",'BCA'],
Section=['M1','M2','M1'],
Score=list('ABO')) #Check this one
display(data1)

       Name  Age  Roll_No Course Section Score
0    Farhan   19       17    BCA      M1     A
1   Abhinav   20       11    BCA      M2     B
2  Tejashvi   21        1    BCA      M1     O

In [ ]:
#Exception Handling

a='23'
try:
    if a>=10:
        print("Greater")
    else:
        print("Lower")

except TypeError:
    print("This is type error")

except: #No need to mention the type of exception explicitly, then it will handle any exception type
    print(f'Something went wrong')

This is type error