Day 5 (MySQL)

In [ ]:
import pymysql as py
conn=py.connect(user='root',
    password='1234',
    host='localhost',
    database='day_5',
    autocommit=True) #autosave
print('Connection created successfully')

After Connection, Make Cursor (cur)

In [ ]:
cur=conn.cursor() #curr is an object handler which is used to execute the query
print('done')

Now write a query

And Execute the query using the cursor (cur)

In [ ]:
query='''create database Day_5;'''
cur.execute(query)
print('Query Executed')
query='''use Day_5;'''
cur.execute(query)

Now Create a table and exxecute it

In [ ]:
query='''create table student_detail
(
SID int not null,
S_name varchar(50),
Course varchar(50),
Address varchar(50)
);'''
cur.execute(query)
print('done')

In [ ]:
#insert data
query='''insert into student_detail
values
(101, "Farhan", "BCA", "Delhi"),
(102, "Divyanshi", "BCA", "Uttam Nagar");'''
cur.execute(query)
print('done')

In [ ]:
query='''select * from student_detail'''
cur.execute(query)
print('done')

In [ ]:
n=3
for i in range (3):
    sid=int(input("Enter your Roll_no/SID: "))
    name=input("Enter your name: ")
    course=input("Enter your course")
    address=input("Enter you address: ")

    q=f'''insert into student_detail values
    ({sid},"{name}","{course}","{address}");'''
    cur.execute(q)
    print("Success")
print('Done')

In [ ]:
query='''select * from student_detail;'''
cur.execute(query)
all_columns=[]
for i in cur.description:
    all_columns.append(i[0])

records=cur.fetchall()
import pandas as pd
df=pd.DataFrame(records, columns=all_columns)

In [ ]:
#To delete the table
query='''drop table student_detail;'''
cur.execute(query)

In [ ]:
def show_rec(db,tn):
    query=f'''select * from {db}.{tn};'''
    cur.execute(query)

    records=cur.fetchall()

    all_columns=[]
    for i in cur.description:
        all_columns.append(i[0])
        
    import pandas as pd
    df=pd.DataFrame(records, columns=all_columns)
    return df
df = show_rec('day_5', 'superstore')
display(df)

In [ ]:
conn.close()

To Delete The Whole Database

In [ ]:
import pymysql as py

# Establish the connection (you can reuse your existing connection object)
# Make sure to connect WITHOUT specifying the database you want to drop.
# Connect to the MySQL server itself.
conn = py.connect(user='root',
                  password='1234', # Replace with your password if different
                  host='localhost',
                  autocommit=True)

# Create a cursor
cur = conn.cursor()

# --- Code to Drop the Database ---
# The 'IF EXISTS' part prevents an error if the database doesn't exist.
query = '''DROP DATABASE IF EXISTS Day_5;'''

try:
    cur.execute(query)
    print("Database 'Day_5' dropped successfully (if it existed).")
except Exception as e:
    print(f"An error occurred: {e}")
finally:
    # It's good practice to close the connection when you're done
    conn.close()