Day 5 (MySQL)

In [ ]:
import pymysql as py
conn=py.connect(user='root',
    password='1234',
    host='localhost',
    autocommit=True) #autosave
print('Connection created successfully')

After Connection, Make Cursor (cur)

In [ ]:
cur=conn.cursor()
print('done')

Now write a query

And Execute the query using the cursor (cur)

In [ ]:
query='''create database Day_5;'''
cur.execute(query)
print('Query Executed')
query='''use Day_5;'''
cur.execute(query)

Now Create a table and exxecute it

In [ ]:
query='''create table student_detail
(
SID int not null,
S_name varchar(50),
Course varchar(50),
Address varchar(50)
);'''
cur.execute(query)
print('done')

In [ ]:
#insert data
query='''insert into student_detail
values
(101, "Farhan", "BCA", "Delhi"),
(102, "Divyanshi", "BCA", "Uttam Nagar");'''
cur.execute(query)
print('done')

In [ ]:
query='''select * from student_detail'''
cur.execute(query)
print('done')

In [ ]:
n=3
for i in range (3):
    sid=int(input("Enter your Roll_no/SID: "))
    name=input("Enter your name: ")
    course=input("Enter your course")
    address=input("Enter you address: ")

    q=f'''insert into student_detail values
    ({sid},"{name}","{course}","{address}");'''
    cur.execute(q)
    print("Success")
print('Done')

In [ ]:
query='''select * from student_detail;'''
cur.execute(query)
all_columns=[]
for i in cur.description:
    all_columns.append(i[0])

records=cur.fetchall()
import pandas as pd
df=pd.DataFrame(records, columns=all_columns)

In [ ]:
#To delete the table
query='''drop table student_detail;'''
cur.execute(query)

In [ ]:
def show_rec(db,tn):
    query=f'''select * from {db}.{tn};'''
    cur.execute(query)

    records=cur.fetchall()

    all_columns=[]
    for i in cur.description:
        all_columns.append(i[0])
        
    import pandas as pd
    df=pd.DataFrame(records, columns=all_columns)
    return df