Day 5 (MySQL)

In [1]:
import pymysql as py
conn=py.connect(user='root',
    password='1234',
    host='localhost',
    autocommit=True) #autosave
print('Connection created successfully')

Connection created successfully

After Connection, Make Cursor (cur)

In [2]:
cur=conn.cursor()

Now write a query

In [3]:
query='''create database Day_5;'''

Now Execute the query using the cursor (cur)

In [ ]:
cur.execute(query)
print('Query Executed')
query='''use Day_5;'''
cur.execute(query)

Now Create a table and exxecute it

In [ ]:
query='''create table student_detail
(
SID int not null,
S_name varchar(50),
Course varchar(50),
Address varchar(50)
);'''
cur.execute(query)
print('done')

In [ ]:
#insert data
query='''insert into student_detail
values
(101, "Farhan", "BCA", "Delhi"),
(102, "Divyanshi", "BCA", "Uttam Nagar");'''
cur.execute(query)
print('done')

In [ ]:
query='''select * from student_detail'''
cur.execute(query)
print('done')