In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [32]:
df=pd.read_csv('crinacle_iem_rankings.csv')
df.sample(5)
display(df[df['Price (MSRP)']=='Discont.'].head(1))
df[df['Price (MSRP)']!='Discont.'].head(1)

,Rank,Value Rating,Model,Price (MSRP),Signature,Comments,Tone Grade,Technical Grade,Setup,Status,Ranksort,Tonesort,Techsort,Pricesort
11,A,NaN,ThieAudio Monarch,Discont.,Neutral with bass boost,Neutral with bass boost,S-,A,2EST 6BA 1DD,Available for demo at The Hangout,28,7,21,99999

,Rank,Value Rating,Model,Price (MSRP),Signature,Comments,Tone Grade,Technical Grade,Setup,Status,Ranksort,Tonesort,Techsort,Pricesort
0,S-,★,Elysian Annihilator (2021),3700,U-shaped,NaN,S-,S,2EST 4BA 1DD,Zeppelin & Co demo unit,10,7,3,3700

In [23]:
df['Rank'].unique()
oe = dict(zip(df['Rank'].unique(),range(len(df['Rank'].unique()))))
oe

{'S-': 0,
 'A+': 1,
 'A': 2,
 'A-': 3,
 'B+': 4,
 'B': 5,
 'B-': 6,
 'C+': 7,
 'C': 8,
 'C-': 9,
 'D+': 10,
 'D': 11,
 'D-': 12,
 'E': 13,
 'F': 14,
 'DQ': 15,
 'Rank': 16}

In [26]:
from sklearn.preprocessing import OrdinalEncoder
OE = OrdinalEncoder(categories=[list(df['Rank'].unique())])
pd.Series(OE.fit_transform(df[['Rank']]).flatten()).value_counts()

8.0     494
7.0     338
9.0     284
6.0     238
5.0     182
10.0    140
4.0     116
11.0     94
3.0      76
12.0     66
13.0     48
2.0      34
1.0      16
14.0      8
0.0       6
15.0      2
16.0      1
Name: count, dtype: int64

In [25]:
df['Rank'].map(oe).value_counts()

Rank
8     494
7     338
9     284
6     238
5     182
10    140
4     116
11     94
3      76
12     66
13     48
2      34
1      16
14      8
0       6
15      2
16      1
Name: count, dtype: int64

Change the value of Pricesort column which are discontinued (or remove the column)

In [4]:
#check the null values
df.isnull().sum()

Rank                  0
Value Rating       1988
Model                 0
Price (MSRP)          2
Signature             2
Comments            350
Tone Grade            2
Technical Grade       2
Setup                 8
Status               18
Ranksort              0
Tonesort              0
Techsort              0
Pricesort             0
dtype: int64