In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [76]:
df = pd.read_csv(r'D:\Data Science\Summer-Training-Project\Project\crinacle_iem_rankings.csv')
df.shape

(2143, 14)

In [77]:
display(df.columns)
df.rename(columns={'Price (MSRP)': 'Price'}, inplace=True)
df.drop(['Ranksort','Pricesort','Tonesort','Techsort'], axis=1,inplace=True)

Index(['Rank', 'Value Rating', 'Model', 'Price (MSRP)', 'Signature',
       'Comments', 'Tone Grade', 'Technical Grade', 'Setup', 'Status',
       'Ranksort', 'Tonesort', 'Techsort', 'Pricesort'],
      dtype='object')

In [78]:
df['Price'].value_counts()

Price
Discont.        240
200              92
500              76
300              66
100              62
               ...
510               2
7400              2
10000             2
14                2
Price (MSRP)      1
Name: count, Length: 173, dtype: int64

In [79]:
# df.groupby(['Signature','Price (MSRP)']).count()

In [80]:
temp_df = df[df['Price'] != 'Discont.']
temp_df['Price'] = pd.to_numeric(temp_df['Price'],errors='coerce')

C:\Users\Maddox\AppData\Local\Temp\ipykernel_17356\2218903179.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['Price'] = pd.to_numeric(temp_df['Price'],errors='coerce')

In [81]:
fill_value = temp_df.groupby('Signature')['Price'].mean().to_dict()
fill_value

{'"Balanced"': 810.921052631579,
 'Bassy': 711.4102564102565,
 'Bright': 595.2941176470588,
 'Bright U-shape': 995.0,
 'Bright V-shape': 492.57575757575756,
 'Bright neutral': 825.4761904761905,
 'Complete failure': 7.0,
 'Dark': 871.2962962962963,
 'Dark neutral': 1338.5714285714287,
 'Mid-centric': 537.5,
 'Mild U-shape': 50.0,
 'Mild V-shape': 994.8809523809524,
 'Neutral': 638.2842105263157,
 'Neutral with bass boost': 892.0,
 'Neutral with laid-back treble': 946.0,
 'Signature': nan,
 'U-shaped': 831.7924528301887,
 'Unique': 4291.666666666667,
 'V-shaped': 471.7148936170213,
 'Variable': 1218.7142857142858,
 'W-shaped': 3700.0,
 'Warm': 827.1666666666666,
 'Warm U-shape': 772.5,
 'Warm U-shaped': 1300.0,
 'Warm V-shape': 876.76,
 'Warm neutral': 785.0}

In [82]:
df[df['Price'] == 'Discont.']

,Rank,Value Rating,Model,Price,Signature,Comments,Tone Grade,Technical Grade,Setup,Status
11,A,NaN,ThieAudio Monarch,Discont.,Neutral with bass boost,Neutral with bass boost,S-,A,2EST 6BA 1DD,Available for demo at The Hangout
12,A,NaN,Moondrop S8,Discont.,U-shaped,More faithful to the Harman target compared to...,S-,A,8BA,Oardio demo unit
18,A,NaN,Moondrop Blessing 2,Discont.,Mild V-shape,"Very well tuned from bass to treble, perhaps l...",A+,A,4BA 1DD,Available for demo at The Hangout
22,A,NaN,DUNU Talos,Discont.,Bright neutral,NaN,A,A,1Planar 2BA,Available for demo at The Hangout
25,A,NaN,Moondrop A8,Discont.,V-shaped,An odd but surprisingly decent take on the Har...,A,A,8BA,Oardio demo unit
...,...,...,...,...,...,...,...,...,...,...
2088,D-,NaN,Ambient Acoustics AM16,Discont.,"""Balanced""",Sounds weird and is completely average in pure...,D-,D+,16BA,Zeppelin & Co demo unit
2104,D-,NaN,Ocharaku Flat-4 Kaede Type 1,Discont.,Bright V-shape,"As with the other Flat-4s, rather weird and im...",D-,D,2DD,Third party unit
2131,E,NaN,AAW A2H Pro V1,Discont.,Dark,"Dead, bloated, congested. Feels like I have to...",D,E,1BA 1DD,Jaben SG demo unit
2137,E,NaN,VE Monk IE Smalls,Discont.,Dark,Sounds exactly like what would happen if you s...,E,E,DD,Third party unit
2138,F,NaN,VE Monk IE Biggie,Discont.,Dark,Absolute mud and congestion. Could work as a s...,F,E,DD,Third party unit

In [83]:
# df[df['Price (MSRP)'] == 'Discont.']['Signature'].to_dict()

In [84]:
temp_dict = df[df['Price'] == 'Discont.']['Signature'].to_dict()

In [85]:
for i in temp_dict:
    try:
        # print(temp_dict[i],fill_value[temp_dict[i]])
        price_value =fill_value[temp_dict[i]]
        df.loc[i,'Price'] = price_value
    except:
        pass

In [86]:
df['Price'].fillna(0,inplace = True)
df['Price'] = pd.to_numeric(df['Price'],errors='coerce')

C:\Users\Maddox\AppData\Local\Temp\ipykernel_17356\1592536599.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(0,inplace = True)

In [87]:
df['Price']

0       3700.000000
1       1000.000000
2        950.000000
3       2100.000000
4       1700.000000
           ...
2138     871.296296
2139      14.000000
2140       0.000000
2141       0.000000
2142       0.000000
Name: Price, Length: 2143, dtype: float64

In [88]:
df['Rank'].unique()
oe = dict(zip(df['Rank'].unique(),range(len(df['Rank'].unique()))))
oe

{'S-': 0,
 'A+': 1,
 'A': 2,
 'A-': 3,
 'B+': 4,
 'B': 5,
 'B-': 6,
 'C+': 7,
 'C': 8,
 'C-': 9,
 'D+': 10,
 'D': 11,
 'D-': 12,
 'E': 13,
 'F': 14,
 'DQ': 15,
 'Rank': 16}

In [89]:
from sklearn.preprocessing import OrdinalEncoder
OE = OrdinalEncoder(categories=[list(df['Rank'].unique())])
pd.Series(OE.fit_transform(df[['Rank']]).flatten()).value_counts()

8.0     494
7.0     338
9.0     284
6.0     238
5.0     182
10.0    140
4.0     116
11.0     94
3.0      76
12.0     66
13.0     48
2.0      34
1.0      16
14.0      8
0.0       6
15.0      2
16.0      1
Name: count, dtype: int64

In [90]:
df['Rank'].map(oe).value_counts()

Rank
8     494
7     338
9     284
6     238
5     182
10    140
4     116
11     94
3      76
12     66
13     48
2      34
1      16
14      8
0       6
15      2
16      1
Name: count, dtype: int64

Change the value of Pricesort column which are discontinued (or remove the column)

In [91]:
#check the null values
df.isnull().sum()

Rank                  0
Value Rating       1988
Model                 0
Price                17
Signature             2
Comments            350
Tone Grade            2
Technical Grade       2
Setup                 8
Status               18
dtype: int64