Import Data

In [ ]:
# import kagglehub

# # Download latest version
# path = kagglehub.dataset_download("patrickb1912/ipl-complete-dataset-20082020")
path=r'C:\Users\Maddox\.cache\kagglehub\datasets\patrickb1912\ipl-complete-dataset-20082020\versions\3'
print("Path to dataset files:", path)

In [ ]:
import os
all_file=os.listdir(path)
file_1,file_2=all_file
file_2

In [ ]:
file_1_path=path + '/' + file_1
print(file_1_path)

file_2_path=path + '/' + file_2
print(file_2_path)

In [ ]:
#import all libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
print("All modules called")

df_matches=pd.read_csv(file_2_path)
df_delivery=pd.read_csv(file_1_path)

In [ ]:
display(df_delivery.head(2))
display(df_matches.head(2))

print(df_matches.shape)
print(df_delivery.shape)

In [ ]:
df_matches.info()
#There are null data

In [ ]:
display(df_matches.isnull().sum().sort_values(ascending=False))
display(df_matches['winner'])

In [ ]:
sns.heatmap(df_matches.isnull())

In [ ]:
#null value count in percentage
df_matches.isnull().mean().sort_values(ascending=False)*100

In [ ]:
#now check what this 'method' column is like
display(df_matches['method'].value_counts())
#only 1 data (D/L) which was used 21 times
#we'll fill all other methods with "Normal" method

In [ ]:
df_matches['method'].fillna('Normal Method',inplace=True)
display(df_matches.isnull().sum().sort_values(ascending=False))
#Now no missing values in df_matches['method']

**Now lets treat the "city" column**

In [ ]:
display(df_matches['city'].value_counts())
display(df_matches['city'].value_counts().sum())

In [ ]:
#Display all the rows with null values in 'city' column 
df_matches[df_matches['city'].isnull()]
#Fill the NaN values in 'city' column
df_matches['city'].fillna('UAE',inplace=True)# all the venue shows that all city with NaN were in Dubai (UAE)

**Now we'll work on "result_margin" column**

In [ ]:
df_matches['result_margin'].info()
df_matches['result_margin'].value_counts()
df_matches['result_margin'].value_counts().sum()

In [ ]:
#Display all the rows with null values in 'result_margin' column 
df_matches[df_matches['result_margin'].isnull()]
#Fill the NaN values in 'city' column
df_matches['result_margin'].fillna(0.00,inplace=True)

In [ ]:
#These columns with Null values left
# winner             0.456621
# player_of_match    0.456621
# target_overs       0.273973
# target_runs        0.273973

**Now we'll work on "winner" column and 'player_of_match'**

In [ ]:
# #Display all the rows with null values in 'result_margin' column 
# display(df_matches[df_matches['winner'].isnull()])
# #Fill the NaN values in 'city' column
# df_matches['winner'].fillna('No Winner',inplace=True)
# #null value count in percentage
# df_matches.isnull().mean().sort_values(ascending=False)*100

In [ ]:
#Display all the rows with null values in 'result_margin' column 
display(df_matches[df_matches['winner'].isnull()])
#Fill the NaN values in 'city' column
df_matches.fillna({'player_of_match':'No Player of the match',
                   'winner':'No Winner'},inplace=True)
#null value count in percentage after treating missing values
df_matches.isnull().mean().sort_values(ascending=False)*100

**Now we'll work on "target_overs" column and 'targer_runs'**

In [ ]:
#Here all the NaN values will filled with the value 0 i.e., 'target_runs','target_overs'
df_matches.fillna(0,inplace=True)

#null value count in percentage after treating missing values
df_matches.isnull().mean().sort_values(ascending=False)*100

**Done with Data Cleaning[fillna]**

In [ ]:
sns.heatmap(df_matches.isnull())

In [ ]:
display(df_matches['city'].value_counts())
#We have different names for same place
# df_matches[df_matches['city'].value_counts()=='Dubai']

Let's change the name to a same name for same place with different names

In [ ]:
# changing the data
dict1={'Navi Mumbai':'Mumbai','Bengaluru':'Bangalore',
       'Sharjah':'UAE', 'Abu Dhabi':'UAE',
       'Kimberley':'Cape Town','Dubai':'UAE'}
df_matches.replace(dict1,inplace=True)
print('Done')

Check and drop duplicated

In [ ]:
display(df_matches.duplicated().value_counts())
#No Duplicates!!! All False!!!
display(df_matches.drop_duplicates(inplace=True))

Lets make data column as Data data_type instead of object data_type for ARIMA (Time series analysis)

In [ ]:
df_matches['date']=pd.to_datetime(df_matches['date'])
print('Done')
display(df_matches['date'].info())

Done with Pre-Processing, starting with Analysis

In [ ]:
display(df_matches['venue'].value_counts())
#we dont want the name of cities as shown in value columns

In [ ]:
splitted_df=df_matches['venue'].str.split(',')
#apply() itterate row wise in the data
df_matches['venue']=df_matches['venue'].apply(lambda row: row.title().split(',')[0])

In [ ]:
df_matches['venue'].value_counts()

In [ ]:
dict2={'M Chinnaswamy Stadium':'M.Chinnaswamy Stadium',
       'Feroz Shah Kotla':'Arun Jaitley Stadium',
       'Sardar Patel Stadium':'Narendra Modi Stadium',
       'Punjab Cricket Association Is Bindra Stadium':'Punjab Cricket Association Stadium',
       }
df_matches['venue'].replace(dict2,inplace=True)
print('Done')
display(df_matches['venue'].value_counts())


#Graph it

x=df_matches['venue'].value_counts().head(10).index
y=df_matches['venue'].value_counts().head(10).values
plt.figure(figsize=(7,5))
ax=plt.barh(x,y,color=sns.color_palette('rainbow',10))
plt.bar_label(ax)
plt.title("Top 10 Venues by number of matches player")

plt.xticks(rotation=90)

plt.show