Import Data

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("patrickb1912/ipl-complete-dataset-20082020")

print("Path to dataset files:", path)

In [ ]:
import os
all_file=os.listdir(path)
file_1,file_2=all_file
file_2

In [ ]:
file_1_path=path + '/' + file_1
print(file_1_path)

file_2_path=path + '/' + file_2
print(file_2_path)

In [ ]:
#import all libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
print("All modules called")

df_matches=pd.read_csv(file_2_path)
df_delivery=pd.read_csv(file_1_path)

In [ ]:
display(df_delivery.head(2))
display(df_matches.head(2))

print(df_matches.shape)
print(df_delivery.shape)

In [ ]:
df_matches.info()
#There are null data

In [ ]:
display(df_matches.isnull().sum().sort_values(ascending=False))
display(df_matches['winner'])

In [ ]:
sns.heatmap(df_matches.isnull())

In [ ]:
#null value count in percentage
df_matches.isnull().mean().sort_values(ascending=False)*100

In [ ]:
#now check what this 'method' column is like
display(df_matches['method'].value_counts())
#only 1 data (D/L) which was used 21 times
#we'll fill all other methods with "Normal" method

In [ ]:
df_matches['method'].fillna('Normal Method',inplace=True)
display(df_matches.isnull().sum().sort_values(ascending=False))
#Now no missing values in df_matches['method']

**Now lets treat the "city" column**

In [ ]:
display(df_matches['city'].value_counts())
display(df_matches['city'].value_counts().sum())

In [ ]:
#Display all the rows with null values in 'city' column 
df_matches[df_matches['city'].isnull()]
#Fill the NaN values in 'city' column
df_matches['city'].fillna('UAE',inplace=True)# all the venue shows that all city with NaN were in Dubai (UAE)

**Now we'll work on "result_margin" column**

In [ ]:
df_matches['result_margin'].info()
df_matches['result_margin'].value_counts()
df_matches['result_margin'].value_counts().sum()

In [ ]:
#Display all the rows with null values in 'result_margin' column 
df_matches[df_matches['result_margin'].isnull()]
#Fill the NaN values in 'city' column
df_matches['result_margin'].fillna(0.00,inplace=True)

In [ ]:
#These columns with Null values left
# winner             0.456621
# player_of_match    0.456621
# target_overs       0.273973
# target_runs        0.273973

**Now we'll work on "winner" column and 'player_of_match'**

In [ ]:
# #Display all the rows with null values in 'result_margin' column 
# display(df_matches[df_matches['winner'].isnull()])
# #Fill the NaN values in 'city' column
# df_matches['winner'].fillna('No Winner',inplace=True)
# #null value count in percentage
# df_matches.isnull().mean().sort_values(ascending=False)*100

In [ ]:
#Display all the rows with null values in 'result_margin' column 
display(df_matches[df_matches['winner'].isnull()])
#Fill the NaN values in 'city' column
df_matches.fillna({'player_of_match':'No Player of the match',
                   'winner':'No Winner'},inplace=True)
#null value count in percentage
df_matches.isnull().mean().sort_values(ascending=False)*100