In [ ]:
import qrcode
img = qrcode.make('https://colab.research.google.com/drive/17qdEJHd2jXsfFI1yzdiboK9IFgFxZyfv?usp=sharing')
img.save('myqr.png')

In [ ]:
# pip install qrcode

In [ ]:
# DataTypes Pandas
# Read File
# Head
# Info
# tail
# Sample
# describe
# corr
# columns
# index
# isna
# fillna
# replace
# drop
# outliers detection
# plots
# masking
# group by
# pivot table
# Analysis

In [ ]:
'''https://www.kaggle.com/datasets/manishkr1754/cardekho-used-car-data'''

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("manishkr1754/cardekho-used-car-data")

print("Path to dataset files:", path)

In [ ]:
import os
all_files = os.listdir(path)
all_files

In [ ]:
file_path = path + '/'+ all_files[0]
file_path

In [ ]:
import pandas as pd
df = pd.read_csv(file_path)
print('File Loaded Successfully!!')

In [ ]:
# Step 1
# Module Import

# Step 2
# File Read

In [ ]:
# Step 3
df.head()

In [ ]:
#
df.tail()

In [ ]:
#
df.info()

In [ ]:
#
r,c = df.shape
print(f'''Dataset contains
Rows: {r}
Columns: {c}''')

In [ ]:
# list of columns
df.columns

In [ ]:
# 'Unnamed: 0': Wrong Col

In [ ]:
df.drop('Unnamed: 0',axis = 1,inplace = True)

In [ ]:
# sample
df.sample(3)

In [ ]:
df.index  # it will check index range

In [ ]:
# missing value
df.isna().sum()  # Zero represents no null value found

In [ ]:
df.isnull().sum()

In [ ]:
# graph/viusals : heatmap

import seaborn as sns
sns.heatmap(df.isnull())

In [ ]:
# Missing Values:
# Replace/ Fill/Remove/Ignore

In [ ]:
# stats: by-default: numerical(): Ignore: object/category
df.describe().round(2)

In [ ]:
df.describe(include=['O'])

In [ ]:
# Findings:
# Car dekho website has most demanded model i20 freq: 906

In [ ]:
# Analysis
# Univariate, Bivariate and Multivariate data and its analysis
# Univariate,: Single col
# Bivariate : double col
# Multivariate: more than 2 col

In [ ]:
df.columns

In [ ]:
# Univariate: Single Col Analysis

In [ ]:
cat_col = list(df.describe(include=['O']).columns)
num_col = list(df.describe().columns)

In [ ]:
print(cat_col)

In [ ]:
print(num_col)

In [ ]:
# unique, # nunique, value_counts

In [ ]:
print(type(df))

In [ ]:
# series: single col(series)

In [ ]:
print(type(df['car_name']))

In [ ]:
# value_counts()
# Top 10 Car By Name
df['car_name'].value_counts().head(10)

In [ ]:
# Top 10 Car By Name
df['car_name'].value_counts().tail(10)

In [ ]:
# Top 10 Analysis For Categorical Columns

for i in cat_col:
  print(f'\n\nTop 10 Analysis by {i}\n')
  display(df[i].value_counts().head(10))

In [ ]:
# Top 10 Analysis For Categorical Columns in %

for i in cat_col:
  print(f'\n\nTop 10 Analysis by {i}\n')
  top_10 = df[i].value_counts().head(10)

  ans = (top_10/top_10.sum())*100

  display(ans.round(2))

In [ ]:
# top_10_series = df['car_name'].value_counts().head(10)
# (top_10_series/r)*100

In [ ]:
#Bottom 10 Analysis For Categorical Columns

for i in cat_col:
  print(f'\n\nBottom 10 Analysis by {i}\n')
  bottom_10 = df[i].value_counts().tail(10)
  display(bottom_10)

In [ ]:
df['car_name'].value_counts().head(10).plot(kind = 'pie',autopct = '%.2f%%')

In [ ]:
import matplotlib.pyplot as plt

def graph_plot(col_name):

  x = df[col_name].value_counts().head(10).index
  y = df[col_name].value_counts().head(10).values

  plt.figure(figsize = (8,5))
  plt.title(f'Top 10 {col_name} By Inventory',fontsize = 20,color = 'Brown')
  # ax = plt.bar(x,y, color = 'red')

  ax = plt.bar(x,y, color = sns.color_palette('rainbow',10))  # cool, hot, rainbow, # magma
  plt.bar_label(ax)
  plt.xticks(rotation = 45)
  plt.show()

In [ ]:
for i in cat_col:
  graph_plot(i)

In [ ]:
num_col

In [ ]:
df['selling_price'].plot(kind='hist')

In [ ]:
import numpy as np

def plot_hist(col_name,bin_size = 100):
  plt.title(f'\n\n{col_name} Distribution Analysis'.title(),fontsize = 20,color = 'Red')
  plt.hist(df[col_name],color = 'red',bins = np.linspace(df[col_name].min(),df[col_name].max(),bin_size))

  plt.show()

In [ ]:
for i in num_col:
  plot_hist(i)

In [ ]:
# How to filter DataFrame
# Masking Technique

In [ ]:
df.columns

In [ ]:
df['mileage'].min()

In [ ]:
df[df['mileage'] == df['mileage'].min()]

In [ ]:
# Max Mileage car name
df[df['mileage'] == df['mileage'].max()]

In [ ]:
df.columns

In [ ]:
# Costly car

df[df['selling_price'] == df['selling_price'].max()]

In [ ]:
df[df['selling_price'] == df['selling_price'].min()]

In [ ]:
second_min_price = df['selling_price'].sort_values().values[1]

In [ ]:
df[df['selling_price'] == second_min_price]

In [ ]:
# Second highest Costly car
second_max_price = df['selling_price'].sort_values(ascending = False).values[1]

In [ ]:
df[df['selling_price'] == second_max_price]

In [ ]:
df.columns

In [ ]:
# Top 10 cars by sp

top_10_sp_df = df.sort_values(by = 'selling_price',ascending = False).head(10)

In [ ]:
# columns slicing
df.columns

In [ ]:
top_10_sp_df[['car_name','vehicle_age','fuel_type','selling_price']]

In [ ]:
df.sort_values(by = 'vehicle_age',ascending = False).head(10)[['car_name','vehicle_age','fuel_type','selling_price']]

In [ ]:
df.columns

In [ ]:
# unique
df['brand'].unique()

In [ ]:
df['brand'].nunique()

In [ ]:
# group by

df.groupby('brand')['selling_price'].mean().round(2).sort_values(ascending = 0)

In [ ]:
df.columns

In [ ]:
df['seller_type'].unique()

In [ ]:
df.groupby('seller_type')['selling_price'].agg(['min','max','mean']).round()